<?xml version="1.0" encoding="UTF-8"?>

<Configuration>


	<Appenders>

		<file append="false"
			filename="D:\Andrey\work\java\epamtr\FinalTask\FinalTask_v2\FinalTaskMaven\Totalizator\logs\Totalizator.log"
			name="log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</file>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

	</Appenders>


	<Loggers>
		<logger name="by.epamtr.totalizator" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="log" />
		</logger>

		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>

</Configuration>