.form-row-time{
	display:block;
	margin-bottom: 20px;
	overflow: hidden;
}

.form-row-time input{
	/* display:block; */
	/* float: left; */ 
	padding: 0px 5px;
	width: 100px;
	line-height:19px;
    height: 25px;
    margin: 0px;
    padding: 1px 2px 0;
    border: 1px solid #c2ddf3;
    border-radius: 4px;
    
}
