
html { 
	background: url("../IMG/background.jpg"); 
	background-size: cover;
	font-family: 'Jura', sans-serif;
}

h2{
	margin-top: 0px;
}
header { 
    display: block;
}

a{
	color: #FFFFFF;
}

input[type=submit] {
    color: #FFFFFF;
    cursor: pointer;
}

.clearfix::after {
	content: "";
	display: block;  
	clear:both; 
 }


.sidebar-right {
    width: 200px;
    float: right;
    background-color: #000080;
	color: #FFFFFF;
	border-radius: 8px;
	padding: 10px 10px;
}

.content {
    margin: 0 270px 0 30px;
	background-color: #000080;
	color: #FFFFFF;
	border-radius: 8px;
	padding: 10px 40px;
	min-height: 600px; /* for default height with out a content */
  
}

.rules{
	text-align: center;
}
.btn-register{
	background: linear-gradient(to top, rgba(255,51,15,1) 0%, rgba(255,51,15,1) 26%, rgba(0,0,0,1) 100%);    
}
.btn-login{
	background-image: linear-gradient(to bottom,rgba(38,38,38,1),rgba(55,208,37,1));
}

.top-area{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	text-align: right;
}

.user{
	display: inline-block;
}

.user input {
    width: 200px;
    height: 25px;
    margin: 1px;
    padding: 1px 2px 0;
    border: 1px solid #c2ddf3;
    border-radius: 4px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3F9C28;
	box-sizing: border-box;
	
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

 ul.topnav li a:hover {
	/* background-color: #000080; */
	 border: 5px inset #9F908F;
  /* background-color:#cc0000; */
  /* background-color: #3F9C28; */
} 


.bottom{
	color: #FFFFFF;
	display:block;
	clear: both;
	padding:5px;
	border-top: 1px solid #999;
}

.bottom a{
	float: right;
	clear:rihgt;
}

.dropbtn {
    background-color: #4CAF50;
    
    width:100px;
    color: #FFFFFF;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	font-family:inherit;
}

.dropdown {
     width:100px;
    position: relative;
	top:2px;
    display: inline-block;
	float:right;
}

.dropdown-content {
    display: none;
    
     width:100px;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 140px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
}

/*.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
	text-align:left;
    display: block;
}*/


.dropdown-content input {
  /*  color: black;
    padding: 12px 16px;
    text-decoration: none;
	text-align:left;
    display: block;
    color:navy;
    font-family:inherit;*/
    
    
    /* color: black; */
    padding: 4px 14px;
    margin-top: 1px;
    width:100%;
    /* text-decoration: none; */
    /* text-align: left; */
    display: block;
    /*color: navy;*/
    float: left;
    clear:both;
    font-family: inherit;
    background-color: #4CAF50;
	color: #FFFFFF;
	border-radius: 5px;
}

.dropdown-content input:hover{
     background-color:darkgreen;
}
.dropdown-content form{
    margin: 0px;
   /* width: 20px;*/
}

/*.dropBtn {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
	text-align:left;
    display: block;
    float: right;
}*/
/*.dropdown-content a:hover {
	background-color: #f1f1f1;
}*/

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}



